@{
    Layout = "_Null";
    ViewBag.Title = "Yeni Şifre Belirleme";
}

@using rentid.ViewModels
@model sifre_yenileVM

<div id="reset" >

    <div class="col-lg-6 float-left h-100">
        <div class="col-10 offset-1 mt-5">
            <a href="/">
                <img class="logo" src="/assets/img/logo.png">
            </a>
            <div class="col-10 offset-1 mt-5">
                <h3>Yeni Şifre Belirleme</h3>
                <small>Yeni şifreniz bla bla bla</small>
                <form name="sifremi_unuttum_reset-form" class="form-group" asp-controller="sifremi_unuttum" asp-action="reset" method="POST">
                    <!--email-->
                    <div class="form-row mt-4">
                        <div class="col">
                            <input asp-for="@Model.sifre" type="password" class="form-control form-control-sm" placeholder="Yeni Şifre">
                        </div>
                    </div>
                    <!--email tekrar-->
                    <div class="form-row mt-3">
                        <div class="col">
                            <input asp-for="@Model.sifreTekrar" type="password" class="form-control form-control-sm" placeholder="Yeni Şifre Tekrar">
                        </div>
                    </div>
                    <!--Summary-->
                    <div class="form-row mt-3" id="summary" asp-validation-summary="All">
                        
                    </div>
                    
                    <!--Button-->
                    <div class="form-row mt-3">
                        <div class="col">
                            <button class="btn btn-secondary w-100" type="submit">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6 float-left bg-img h-100">
        
    </div>
</div>